.wrapper {
  display: flex;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.wrapper:hover {
  background-color: #f8f9fa;
  border-radius: 6px;
}

.wrapper.dark:hover {
  background-color: #161616;
}
